<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="healthcare" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\healthcare.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <globalization uiCulture="en" culture="en-us" />
    <pages clientIDMode="AutoID">
      <controls>
       <add tagPrefix="ECalendar" namespace="Class_Library" assembly="Class Library"/>
      </controls>
    </pages>
  </system.web> 
</configuration>

